<div class="row">
	<div class="col-sm-8">
		<input type="search"  class="form-control" placeholder="<?= Yii::t('views', 'Enter the city') ?>"
            autocomplete="off" style="margin-bottom: 10px;" {{#pending}}disabled{{/pending}}>
	</div>

	<div class="col-sm-4">
		<?= $form->field($account->options, 'use_geotags', [
			'checkboxTemplate' => '{input} {beginLabel}{labelTitle} {beginWrapper}{endWrapper}{endLabel}',
			'enableError'      => false,
			'options'          => [
				'class' => 'pull-left',
			],
			'wrapperOptions'   => [
				'tag'   => 'i',
				'class' => 'fa fa-question-circle description',
				'data'  => [
					'toggle'  => 'popover',
					'title'   => Yii::t('views', 'Use geotags'),
					'content' => Yii::t('views', 'When this option is activated, you will access additional geotags (attractions, cultural and public places, streets).')
				]
			]
		])->checkbox([
			'id'    => 'option-use-geotags',
			'class' => 'projectOption',
			'data'  => [
				'account'    => $account->id,
				'option'     => 'use_geotags',
				'show-hints' => !Yii::$app->user->identity->hints->geotags,
			],
			'label' => Yii::t('views', 'Use geotags')
		]); ?>
	</div>
</div>

<div class="error-wrapper"><div class="error"></div></div>

<?php if (empty(Yii::$app->params['use_regions'])) : ?>
	<div class="clearfix divide"></div>
<?php endif; ?>

<div class="panel-items-list<?= (!empty(Yii::$app->params['use_regions']) ? ' panel-items-list-short' : '') ?>">
	{{#each items}}
		<div class="balloon balloon-float {{#active}}balloon-active{{/active}}" {{data 'item'}}>
			<span class="button-holder">
				<span class="delete glyphicon glyphicon-trash" title="<?= Yii::t('app', 'Remove') ?>"></span>
			</span>
			<span class="content">{{name}}</span>
		</div>
	{{/each}}
</div>